[project]
	description = A collaboration utility for SOFE-2800 projects
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/aariy
[access "refs/for/refs/*"]
	read = group user/aariy
	push = group user/aariy
	label-Code-Review = -2..+2 group user/aariy
	label-Verified = -1..+1 group user/aariy
	rebase = group user/aariy
	removeReviewer = group user/aariy
	submit = group user/aariy
[access "refs/heads/*"]
	read = group user/aariy
	create = group user/aariy
	push = +force group user/aariy
	pushMerge = group user/aariy
[access "refs/tags/*"]
	push = group user/aariy
	push = +force group user/aariy
